@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#gradient-canvas {
  width: 100%;
  height: 100vh;
  --gradient-color-1: #F56EB3;
  --gradient-color-2: #CB1C8D;
  --gradient-color-3: #7F167F;
  --gradient-color-4: #460C68;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
